<div class="parent">
  <div class="main">
    <div class="box" routerLink="/angular">
      <h3>Load Angular MFE</h3>
    </div>
  </div>
  <div class="main">
    <div class="box" routerLink="/submfe1">
      <h3>Load submfe1</h3>
    </div>
  </div>
  <div class="main">
    <div class="box" routerLink="/react">
      <h3>Load React MFE</h3>
    </div>
  </div>
  <div class="main">
    <div class="box" routerLink="/react1">
      <h3>Load React MFE1</h3>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <h2>footer</h2>
</div>

